h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  color: $gray-200-color;
  font-weight: 500;
  margin: 0;
}

button {
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  font-weight: 600;
  background-color: $primary-700;
  color: $white-color;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $primary-500;
  }
}

footer {
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  background-color: $primary-600;
  color: $white-color;
  font-size: 1rem;
}

input[type="text"] {
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  background-color: $gray-100-color;
  border: 1px solid $gray-400-color;
  font-size: 1rem;
  font-weight: 600;

  &:focus {
    outline: none;
    border-color: $primary-500;
    background-color: $gray-200-color;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.divider {
  width: 100%;
  margin: 2rem auto;
  height: 1px;
  opacity: 0.2;
  background-color: $gray-100-color;
}
