h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: $white-color;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

p {
  font-family: "Quicksand", sans-serif;
  color: $gray-200-color;
  font-weight: 500;
  margin: 0;
}

footer {
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  background-color: $primary-600;
  color: $white-color;
  font-size: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.divider {
  width: 100%;
  margin: 2rem auto;
  height: 1px;
  opacity: 0.2;
  background-color: $gray-100-color;
}
