@import "variables";
@import "ultilities";

body {
  background: rgb(217, 119, 6);
  background: radial-gradient(
    circle,
    rgba(217, 119, 6, 1) 0%,
    rgba(17, 18, 19, 1) 100%
  );
  color: $white-color;
  font-family: "Exo", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  .card {
    background-color: $primary-900;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
    }

    .link {
      color: $white-color;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      &:hover {
        text-decoration: underline;
      }
    }

    .card_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .card_rating {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        .card_rating-icon {
          color: $secondary-500;
          margin-right: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.pagination-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;

  .pagination-arrows:nth-child(1) {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .pagination-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $primary-700;
    height: 100%;
    padding: 0 2rem;
    border-radius: 0 0.5rem 0.5rem 0;

    i {
      color: $white-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .pagination {
    box-shadow: 0 10px 10px -10px $primary-900, 0 -10px 10px -10px $primary-900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-700;
    padding: 0 2rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        width: 2rem;
        height: 2rem;
        background-color: $primary-700;
        color: $white-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $primary-900;
        }

        &.active {
          background-color: $secondary-600;
        }
      }
    }
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: stretch;

  input[type="text"] {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: $gray-100-color;
    font-size: 1rem;
    font-weight: 600;
    height: 100%;
    outline: none;
    border: none;

    &:focus {
      border-color: $primary-500;
      background-color: $gray-200-color;
    }
  }

  button {
    flex: 0 0 auto;
    width: 3.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    font-weight: 600;
    background-color: $primary-700;
    color: $white-color;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $primary-500;
    }
  }
}
