@import "variables";
@import "ultilities";

body {
  background-color: $background-color-light;
  color: $white-color;
  font-family: "Exo", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 85%;
  margin: 2rem auto;
}

.cards-container {
  column-count: 4;
  column-gap: 1rem;

  .card {
    break-inside: avoid;
    margin-top: 1rem;

    background-color: $primary-900;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
    }

    .link {
      color: $white-color;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      &:hover {
        text-decoration: underline;
      }
    }

    .card_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.3rem;
      margin-bottom: 1rem;

      .card_rating-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary-900;
        padding: 0.2rem 0.5rem;
        border-radius: 1rem;
        font-size: 1rem;
        line-height: 0;

        .card_rating-icon {
          color: $secondary-500;
          margin-left: 0.3rem;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}

.pagination-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;

  .pagination-arrows:nth-child(1) {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .pagination-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $primary-700;
    height: 100%;
    padding: 0 2rem;
    border-radius: 0 0.5rem 0.5rem 0;

    i {
      color: $white-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .pagination {
    box-shadow: 0 10px 10px -10px $primary-900, 0 -10px 10px -10px $primary-900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-700;
    padding: 0 2rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        width: 2rem;
        height: 2rem;
        background-color: $primary-700;
        color: $white-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $primary-900;
        }

        &.active {
          background-color: $secondary-600;
        }
      }
    }
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: stretch;

  input[type="text"] {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: $gray-100-color;
    font-size: 1rem;
    font-weight: 600;
    height: 100%;
    outline: none;
    border: none;

    &:focus {
      border-color: $primary-500;
      background-color: $gray-200-color;
    }
  }

  button {
    flex: 0 0 auto;
    width: 3.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    font-weight: 600;
    background-color: $primary-700;
    color: $white-color;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $primary-500;
    }
  }
}

.movie__details {
  margin: 4rem auto;
  max-width: 80%;
  text-align: start;

  .movie__details-container {
    display: flex;
    background-color: $primary-700;
    border-radius: 1rem;

    .content-container {
      padding: 2rem;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    img {
      flex: 1 1 auto;
      width: 50%;
      border-radius: 0 1rem 1rem 0;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    span {
      padding: 0.2rem 0.5rem;
      background-color: $secondary-600;
      border-radius: 1rem;
    }
  }
}

.similar__movies {
  &-container {
    display: flex;
    gap: 1rem;
  }

  .similar__movie {
    background-color: $primary-800;
    border-radius: 0.5rem;
    text-align: center;

    p {
      padding: 0.5rem;
      text-align: start;
    }

    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    column-count: 1;
  }

  .header {
    .flex {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .pagination-container {
    scale: 0.8;
  }
}
